/* @option Corners */
.radiusAll,.contentBox{border-radius:20px;}
.radiusTop{border-radius:20px 20px 0 0;}
.radiusTopLeft{border-radius:20px 0 0 0;}
.radiusTopRight{border-radius:0 20px 0 0;}
.radiusBottom{border-radius:0 0 20px 20px;}
.radiusBottomLeft{border-radius:0 0 0 20px;}
.radiusBottomRight{border-radius:0 0 20px 0;}
.radiusLeft{border-radius:20px 0 0 20px;}
.radiusRight{border-radius:0 20px 20px 0;}
.radius3{border-radius:3px;}
